
#aesthetic{
  position: absolute;
  z-index: 10000;
  font-size: 30px;
  color: white;
  font-family: 'VT323', monospace;
  background-color: black;
  padding: 15px 20px;
  user-select: none;
  display:none;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding:0;
  margin:0;
}

.video{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -50000;
}



.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%,  #ff00d4, #ff0055 80%, #ff0055 100%);
  transform: translateY(-70px);
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball:after {
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -webkit-filter: blur(10px);
}

.ball .shadow {
position: absolute;
width: 40px;
height: 40px;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}
.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.yinimg{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chillrotate linear 30s infinite;
}

.yinyang{
  height: 300px;
  width: 300px;
  position: absolute;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(140px);
}

@keyframes chillrotate{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}





.glitch {
  color: rgb(255, 255, 255);
  font-size: 75px;
  position: absolute;
  width: 1400px;
  margin: 0 auto;
  z-index: 3000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes noise-anim {
  0% {
    clip: rect(83px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(20px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 77px, 0);
  }
  15.0% {
    clip: rect(83px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(50px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(36px, 9999px, 59px, 0);
  }
  30.0% {
    clip: rect(38px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 41px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(44px, 9999px, 7px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 50px, 0);
  }
  55.0% {
    clip: rect(78px, 9999px, 89px, 0);
  }
  60.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 64px, 0);
  }
  75% {
    clip: rect(55px, 9999px, 61px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 42px, 0);
  }
  85.0% {
    clip: rect(100px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(86px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 47px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 10px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 62px, 0);
  }
  15.0% {
    clip: rect(82px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(32px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 31px, 0);
  }
  30.0% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 52px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(3px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 28px, 0);
  }
  55.0% {
    clip: rect(90px, 9999px, 91px, 0);
  }
  60.0% {
    clip: rect(94px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(18px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 57px, 0);
  }
  85.0% {
    clip: rect(28px, 9999px, 63px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 1px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(135px) translateY(-225px);
  z-index: 3000;
}